body {
  margin: 0;
  background-image: url('../images/background/Gumball-New-e1751274946386.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
  color: #fffbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex; 
  flex-direction: column;
}

.container h2 {
  font-size: 14px;
}

#root {
    padding: 3rem;
    text-align: center;
}

#root canvas {
  display: block;
  margin: 0 auto;
  border: 4px solid #fffbfb;
  background-color: #111;
  background-image: url('../images/background/MV5BOWNlMTQzNjAtNmViZS00MTY2LWExM2MtY2FjZDczZGUxZTk2XkEyXkFqcGc@._V1_.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
  width: 40vw; 
  height: 45vw; 
}

#controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

#controls span {
  font-size: 1rem;
  font-weight: 900;
}

.buttons_container {
  display: flex;
  align-items: center;
}

#controls button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #222;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  display: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 800px) {
  #root {
    padding: 1rem;
  }

  #controls {
    margin-top: -0.6rem;
  }

  .container {
    margin-top: -2rem;
  }

  .container h2 {
    font-size: 1.5rem !important;
    text-align: center;
    font-weight: 800;
    margin-bottom: -0.5rem;
  }

  #root canvas {
    width: 90vw; 
    height: 130vw;
  }

  #controls button {
    display: flex; 
    flex-direction: row;
    font-size: 1.8rem;
  }
}
